<div class="container">
  <mat-grid-list cols="2" rowHeight="fit" gutterSize="0px" class="manifest-layout">
    <mat-grid-tile>
      <div class="manifest-module manifest-module-queue">
        <mat-card class="queue-card">
          <mat-card-header>
            <mat-card-title><span matBadge="{{ queue.length }}" matBadgeOverlap="false">Warteliste</span></mat-card-title>
            <mat-card-subtitle>Eingetragene Springer für die nächsten Loads</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="queue-container">
            <mat-list cdkDropList
              #queueList="cdkDropList"
              [cdkDropListData]="queue"
              [cdkDropListConnectedTo]="[loadList]"
              class="queue-list"
              (cdkDropListDropped)="drop($event)">
              <mat-list-item class="queue-item" *ngFor="let item of queue" cdkDrag>{{ item.person.firstName }} {{ item.person.lastName }}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="manifest-module manifest-module-loads">
        <mat-accordion multi="true">
          <mat-expansion-panel *ngFor="let load of loads">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Load {{ load.id }}
              </mat-panel-title>
              <mat-panel-description>
                  {{load.jumpers.length}}/10
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list cdkDropList
              #loadList="cdkDropList"
              [cdkDropListData]="assignedLoads"
              [cdkDropListConnectedTo]="[queueList]"
              class="load-list"
              (cdkDropListDropped)="drop($event)">
              <mat-list-item *ngFor="let item of assignedLoads" cdkDrag>
                {{item.person.firstName}} {{item.person.lastName}}
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>