mat-list {
    overflow-y: auto;
    max-height: calc(100vh - 260px);
}

mat-card {
    max-height: calc(100vh - 200px);
    max-width: 40vw;
    width: 400px;
}

mat-list-option[aria-selected="true"] {
    background: rgba(0,0,0,.04);   
    z-index: 999999;
}