<mat-card class="queue-card">
  <mat-card-header>
    <mat-card-title><span matBadge="{{ jumpers.length }}" matBadgeOverlap="false">Warteliste</span></mat-card-title>
    <mat-card-subtitle>Eingetragene Springer für die nächsten Loads</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list 
      cdkDropList
      #queueList="cdkDropList"
      [cdkDropListData]="queue"
      [cdkDropListConnectedTo]="[loadList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <mat-list-option *ngFor="let jumper of jumpers" cdkDrag>
        <p>{{ jumper.firstName }} {{ jumper.lastName }}</p>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>