<div class="container">
  <app-manifest-navigation></app-manifest-navigation>

  <mat-grid-list cols="2" rowHeight="fit" gutterSize="0px">
    <mat-grid-tile>
      <div class="manifest-module">
        <app-manifest-modules-queue></app-manifest-modules-queue>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="manifest-module">
        <app-manifest-modules-loads></app-manifest-modules-loads>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <footer class="mat-elevation-z2">
    test
  </footer>
</div>