.container {
    height: 100vh;
    max-height: 100vh;
}

mat-grid-list {
    height: calc(100% - 64px - 50px);
}

.manifest-module {
    padding-left: 50px;
}

footer {
    height: 50px;
    padding: 0 16px 0 16px;
    line-height: 50px;
    color: white;
    background-color: #673ab7;
}