<div class="container">
  <mat-grid-list cols="3" rowHeight="fit" gutterSize="0px" class="manifest-layout">
    <mat-grid-tile>
      <div class="manifest-module manifest-module-queue">
        <app-manifest-modules-queue></app-manifest-modules-queue>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="manifest-module manifest-module-queueaction">
        <app-manifest-modules-queue-action></app-manifest-modules-queue-action>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="manifest-module manifest-module-loads">
        <app-manifest-modules-loads></app-manifest-modules-loads>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!--<app-manifest-modules-assignment></app-manifest-modules-assignment>-->